{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Autentification ✅</h1>
    {# S'il y a une erreur, on l'affiche dans un joli cadre #}
    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
    <form action="{{ path('login_check') }}" method="post">
        <div class="form-group">
            <label class="control-label required" for="username">Login :</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
        </div>

        <div class="form-group">
            <label class="control-label required" for="password">Mot de passe :</label>
            <input type="password" id="password" name="_password" class="form-control" />
        </div>

        <br />
        <button type="submit" class="btn btn-success">Connexion</button>
    </form>
</div>
{% endblock %}
