<ul class="nav nav-pills nav-stacked">
    {% for advert in adverts %}
        <li>
            <a href="{{ path('advert.show', {'id': advert.id}) }}">
                {{ advert.title }}
            </a>
        </li>
    {% endfor %}
</ul>