{% extends "layout.html.twig" %}

{% block title %}
    {{ 'advert.new.title'|trans }} - {{ parent() }}
{% endblock %}


{% block ocplatform_body %}

    <h2>{{ 'advert.new.title'|trans }}</h2>
    {#Nouvelle annonce#}

    {{ include("advert/form.html.twig") }}

    <p>
        Vous éditez une annonce déjà existante, merci de ne pas changer
        l'esprit général de l'annonce déjà publiée.
    </p>

{% endblock %}

{#{% block stylesheets %}#}
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.10.1/contents.css">#}
{#{% endblock %}#}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.10.1/ckeditor.js"></script>
{% endblock %}
